<!DOCTYPE html>
<!-- Card -->
<html lang="ru">
    <head>
        <link rel="stylesheet" href="../../assets/css/main.css">
        <link rel="stylesheet" href="./card.css">
        <link rel="stylesheet" href="../../04-lection2/01-histogram/histogram.css">

        <style>
          body {
            margin: 8px;
            background: var(--grey-2);
          }
        </style>
    </head>
    <body>
      <div class="card">
        <div class="card__component">
          <div class="historgram">
            <div class="histogram__header">
                <div class="histogram__orders">
                    <div class="histogram__title">
                        Total orders
                    </div>

                    <h4 class="histogram__value">
                        50254
                    </h4>
                </div>

                <a href="#" class="histogram__link">
                    View all
                </a>
            </div>

            <div class="histogram__data">
                <div class="histogram__column" style="height: 80%;"></div>
                <div class="histogram__column" style="height: 60%;"></div>
                <div class="histogram__column" style="height: 40%;"></div>
                <div class="histogram__column" style="height: 100%;"></div>
                <div class="histogram__column" style="height: 90%;"></div>
                <div class="histogram__column" style="height: 60%;"></div>
                <div class="histogram__column" style="height: 80%;"></div>
                <div class="histogram__column" style="height: 45%;"></div>
                <div class="histogram__column" style="height: 30%;"></div>
                <div class="histogram__column" style="height: 40%;"></div>
                <div class="histogram__column" style="height: 20%;"></div>
                <div class="histogram__column" style="height: 90%;"></div>
            </div>
          </div>
        </div>

        <div class="card__title">
          Histogram
        </div>
      </div>
    </body>
</html>
