/* Стилизация аккордеона */
.accordion {
  background-color: var(--white);
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 24px 32px;
}

.accordion__summary {
  position: relative;
  cursor: pointer;
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  padding-right: 8px;
}

.accordion__summary::marker {
  display: none;
  font-size: 0;
}

.accordion .accordion__summary .accordion__arrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.accordion[open] .accordion__summary .accordion__arrow {
  transform: translateY(-50%) rotate(180deg);
}

.accordion__item {
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
  margin-right: 24px;
  margin-bottom: 8px;
}

.accordion__item:last-child {
  margin-bottom: 0;
}
