/* div { outline: 1px solid red; } */

.avatar {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar.avatar_v1 {
  background-image: url('https://cdn.britannica.com/22/206222-131-E921E1FB/Domestic-feline-tabby-cat.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.avatar__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
